<md-toolbar color="primary">
    <span>Botão do Pânico - Unesp Bauru</span>

    <div class="logout">
      <app-logout></app-logout>
    </div>
    </md-toolbar>

<div class="container">

  <table class="table table-striped table-bordered">
    <thead> 
    <tr class="row-name">
      <th style="width: 10%;">Nome</th>
      <th style="width: 15%;">Telefone</th>
      <th style="width: 15%;">Status</th>
      <th style="width: 5%;">Detalhes</th>
      </tr>
    </thead>

    <tbody> 
      <tr *ngFor="let panic of panics | async" class="row-content">
        <td>{{panic.nome}}</td> 
        <td>14981984968</td>
        <td *ngIf="panic.status == 'Atendida'"><span class="label label-success"> {{panic.status}} </span></td>
        <td *ngIf="panic.status == 'Nova'"><span class="label label-danger"> {{panic.status}} </span></td>
      <td>
          <a class="btn btn-primary btn-s" (click)="openDialog(panic)" aria-label="Opções">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
          </a>
       </td>
      </tr> 
    </tbody>
  </table>
</div>