<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
   {{title}}
  </h1>
</div>

<div class="container">

  <table class="table table-hover table-bordered">
    <thead> 
    <tr>
      <th style="width: 10%;">ID da Ocorrência</th>
      <th style="width: 10%;">Nome da Vítima</th>
      <th style="width: 15%;">Status</th>
      <th style="width: 45%;">Mapa</th>
      </tr>
    </thead>

    <tbody> 
      <tr *ngFor="let panic of panics | async"> 
        <td>{{panic.id}}</td>
        <td>{{panic.nome}}</td> 
        <td>{{panic.status}}</td>
        <td>
           <agm-map [zoom]="18" [usePanning]="true" [streetViewControl]="false" [mapTypeId]="'hybrid'" [latitude]="panic.lat" [longitude]="panic.lng">
              <agm-marker [latitude]="panic.lat" [longitude]="panic.lng"></agm-marker> 
          </agm-map> 
      </td>
      </tr> 
    </tbody>
  </table>
</div>
