<div style="min-width: 660px">
    <form ng-cloak>

        <md-card class="example-card">
            <md-card-header>
                <div md-card-avatar class="example-header-image" style="margin-bottom: 5px"></div>
                <md-card-title>{{panic.nome}}</md-card-title>
                <md-card-subtitle>{{panic.data}}</md-card-subtitle>
              </md-card-header>

              <md-card-content>
                  <div class="md-dialog-content">
                      <agm-map [zoom]="19" [usePanning]="true" [streetViewControl]="false" [mapTypeId]="'hybrid'" [latitude]="panic.lat" [longitude]="panic.lng">
                         <agm-marker [latitude]="panic.lat" [longitude]="panic.lng"></agm-marker> 
                     </agm-map>
                   </div>
              </md-card-content>
        </md-card>
  
      <md-dialog-actions layout="row" class="pull-right">
        <span flex></span>
        <button *ngIf="panic.status == 'Nova'" md-button (click)="finishPanic()">
         Finalizar ocorrência
        </button>
        <button md-button (click)="closeDialog()">
          Fechar
        </button>
      </md-dialog-actions>
    </form>
</div>